{% extends 'layouts/base.twig' %}

{% set title = post.title %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('about') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('about') }}
{% endblock %}

{% block header %}
    {% embed 'components/site-header.twig' with { class: ['pt-xxl', 'pb-8', 'overflow-hidden'] } %}
        {% block content %}
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-5 col-lg-6 prose">
                    <h1>
                        <strong>A Crux</strong> szemlélete
                    </h1>
                    {{ post.content }}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <main>
        {% include 'templates/sections/company-facts.html.twig' with { class: ['py-7'] } %}
        {% include 'templates/sections/fields-of-activity.html.twig' with { class: ['pb-11'] } %}
        {% include 'templates/sections/timeline.html.twig' with { timeline } %}
    </main>
{% endblock %}
